  body {
    font-family: 'Work Sans';
  }
  .wraper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  /*----------------------header--------------------------*/
.container-header  {
  background-color: #e8d1c3;
 
  
}
.contant {
  max-width: 1220px;
  margin: 0 auto;

}
.header {
  
}
.header-content {
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
}

.header-lang a{
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #000000;
}
.english {}
.spanish {}
.heder-social{

font-size: 15px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.08em;

}
.heder-social a {
  color: #000000;
}
.list__social{}
.list__social li {
display: inline-block;
padding: 0 15px;
}
.list__social li:last-child{
  padding-right: 0;
}
.facebook {}
.twitter {}
.instagram {}
.container-nav {
  background-color: #69694b;
  margin-bottom: 95px;
  

}
.nav {
 
  height: 65px;
  display: flex;
  justify-content: space-between;
   align-items: center; 
}
.nav-title {
  
  font-size: 30px;
  font-weight: 700;
}
.nav-nav {}
.list__nav {

}
.list__nav li{
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 35px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.list__nav li:last-child{
padding-right: 0;
}
.list__nav a{
  color: #000;
}


/*---------------секция 1----------------------------------- */

.section1 {

}
.contant {}
.contant-section1 {
  display: flex;
  justify-content: space-between;
}
.column-left {}
.img__left {
  margin-bottom: 60px;
}
.left__img {}
.link {
  display: flex;
   justify-content: flex-end;
}
.link_newcollection{
font-size: 25px;
line-height: 1.2;
font-weight: 500;
text-decoration: underline;
text-transform: uppercase;
letter-spacing: 0.08em;
color: #000;
}
.right-column {}
.row-date {
  display: flex;
  justify-content: flex-end;
}
.row-date {
 
  padding-top: 75px;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.title__row {
  height: 276px;
  background-color: #e8d1c3;
  display: flex;
  align-items: flex-end;
  margin-top: -37px;
}
.column-row__title {
  font-size: 52px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.img__right {
  margin-bottom: 72px;
}

/*-----------------секция 2 (слайдер)--------------------*/

.section2-title {
  margin-bottom: 95px;
}
.contant-section1 {
  max-width: 1440px;
  margin: 0 auto;
}
.title {
  font-size: 37.5px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.slider{
  margin: 0 auto;
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.slider-row {
padding: 0px;
}

.arrow {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 2em;
  padding: 0 1em;
  width: 25%;
  cursor: pointer;
  opacity: 0.3;
}

.left {
  left: 0;
  justify-content: flex-start;
  font-size: 80px;
  margin-left: -70px;
}

.left:hover + .right + .slides {
  transform: translateX(20px);
  left: 0;
}

.right {
  right: 0;
  font-size: 80px;
  justify-content: flex-end;
  margin-right: -70px;
}

.right:hover + .slides {
  transform: translateX(-100.7%);
  left: 100%;
}

.slides {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  display: flex;
  gap: 90px;
  margin: 0;
  padding: 0px;
  transform: translateX(-50%);
  transition: all 1.5s;

}

.slides li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  font-size: 12px;
}

.img__all{
  margin-bottom: 55px;
  max-height: 500px;
}
.cost {
  font-size: 27.1px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  text-align: center;
  
}
/*------------------секция 3(ABOUT)--------------------*/
.section3 {}
.contant {}
.about {
  margin-bottom: 50px;
}
.about-title {
  text-align: center;
  margin-bottom: 70px;
}
.title {}
.about-column {
  display: flex;
}
.column-left__about {
  display: flex;
  flex-direction: column;
  padding: 60px 35px;
  max-width: 40%;
  background-color: #69694b;
}
.about__text {
  display: flex;
  flex: 1 1 auto;
  font-size: 20.9px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.08em;
  color: #fefefe;
}
.about__link a{
  font-size: 20.9px;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: 0.08em;
  color: #fefefe;
}
.column-right {}
.about__img {

}